.sprite {
    background-image: url(../images/animations.jpg);
    background-repeat: no-repeat;
    display: block;
}

.sprite-101dalmatians {
    width: 214px;
    height: 317px;
    background-position: -5px -5px;
}

.sprite-abugslife {
    width: 214px;
    height: 317px;
    background-position: -229px -5px;
}

.sprite-adventuresoftintin {
    width: 214px;
    height: 317px;
    background-position: -453px -5px;
}

.sprite-animalfarm {
    width: 214px;
    height: 317px;
    background-position: -677px -5px;
}

.sprite-antz {
    width: 214px;
    height: 317px;
    background-position: -901px -5px;
}

.sprite-arrietty {
    width: 214px;
    height: 317px;
    background-position: -1125px -5px;
}

.sprite-balto {
    width: 214px;
    height: 317px;
    background-position: -1349px -5px;
}

.sprite-bambi {
    width: 214px;
    height: 317px;
    background-position: -1573px -5px;
}

.sprite-barnyard {
    width: 214px;
    height: 317px;
    background-position: -1797px -5px;
}

.sprite-beautyandthebeast {
    width: 214px;
    height: 317px;
    background-position: -2021px -5px;
}

.sprite-beemovie {
    width: 214px;
    height: 317px;
    background-position: -5px -332px;
}

.sprite-bigHero6 {
    width: 214px;
    height: 317px;
    background-position: -229px -332px;
}

.sprite-brave {
    width: 214px;
    height: 317px;
    background-position: -453px -332px;
}

.sprite-brotherbear {
    width: 214px;
    height: 317px;
    background-position: -677px -332px;
}

.sprite-chickenrun {
    width: 214px;
    height: 317px;
    background-position: -901px -332px;
}

.sprite-fantasticmrfox {
    width: 214px;
    height: 317px;
    background-position: -1125px -332px;
}

.sprite-findingnemo {
    width: 214px;
    height: 317px;
    background-position: -1349px -332px;
}

.sprite-flushedaway {
    width: 214px;
    height: 317px;
    background-position: -1573px -332px;
}

.sprite-fromuponpoppyhill {
    width: 214px;
    height: 317px;
    background-position: -1797px -332px;
}

.sprite-frozen {
    width: 214px;
    height: 317px;
    background-position: -2021px -332px;
}

.sprite-graveofthefireflies {
    width: 214px;
    height: 317px;
    background-position: -5px -659px;
}

.sprite-hortonhearawho {
    width: 214px;
    height: 317px;
    background-position: -229px -659px;
}

.sprite-howlsmovingcastle {
    width: 214px;
    height: 317px;
    background-position: -453px -659px;
}

.sprite-howtotrainyourdragon1 {
    width: 214px;
    height: 317px;
    background-position: -677px -659px;
}

.sprite-kungfupanda1 {
    width: 214px;
    height: 317px;
    background-position: -901px -659px;
}

.sprite-kungfupanda2 {
    width: 214px;
    height: 317px;
    background-position: -1125px -659px;
}

.sprite-ladyandthetramp {
    width: 214px;
    height: 317px;
    background-position: -1349px -659px;
}

.sprite-lesjourdescorneilles {
    width: 214px;
    height: 317px;
    background-position: -1573px -659px;
}

.sprite-maryandmax {
    width: 214px;
    height: 317px;
    background-position: -1797px -659px;
}

.sprite-mrpeapodyandsherman {
    width: 214px;
    height: 317px;
    background-position: -2021px -659px;
}

.sprite-onlyyesterday {
    width: 214px;
    height: 317px;
    background-position: -5px -986px;
}

.sprite-openseason1 {
    width: 214px;
    height: 317px;
    background-position: -229px -986px;
}

.sprite-pinocchio {
    width: 214px;
    height: 317px;
    background-position: -453px -986px;
}

.sprite-ponyo {
    width: 214px;
    height: 317px;
    background-position: -677px -986px;
}

.sprite-ratatouille {
    width: 214px;
    height: 317px;
    background-position: -901px -986px;
}

.sprite-shrek1 {
    width: 214px;
    height: 317px;
    background-position: -1125px -986px;
}

.sprite-snowwhite {
    width: 214px;
    height: 317px;
    background-position: -1349px -986px;
}

.sprite-songofthesea {
    width: 214px;
    height: 317px;
    background-position: -1573px -986px;
}

.sprite-spiritedaway {
    width: 214px;
    height: 317px;
    background-position: -1797px -986px;
}

.sprite-spiritstalion {
    width: 214px;
    height: 317px;
    background-position: -2021px -986px;
}

.sprite-surfsup {
    width: 214px;
    height: 317px;
    background-position: -5px -1313px;
}

.sprite-tadthelostexplorer {
    width: 214px;
    height: 317px;
    background-position: -229px -1313px;
}

.sprite-tangled {
    width: 214px;
    height: 317px;
    background-position: -453px -1313px;
}

.sprite-thecroods {
    width: 214px;
    height: 317px;
    background-position: -677px -1313px;
}

.sprite-thecurseofthewererabbit {
    width: 214px;
    height: 317px;
    background-position: -901px -1313px;
}

.sprite-theemperorsnewgroove {
    width: 214px;
    height: 317px;
    background-position: -1125px -1313px;
}

.sprite-thefoxandthehound {
    width: 214px;
    height: 317px;
    background-position: -1349px -1313px;
}

.sprite-thegreatmousedetective {
    width: 214px;
    height: 317px;
    background-position: -1573px -1313px;
}

.sprite-theincredibles {
    width: 214px;
    height: 317px;
    background-position: -1797px -1313px;
}

.sprite-theirongiant {
    width: 214px;
    height: 317px;
    background-position: -2021px -1313px;
}

.sprite-thejunglebook {
    width: 214px;
    height: 317px;
    background-position: -5px -1640px;
}

.sprite-thelionking1 {
    width: 214px;
    height: 317px;
    background-position: -229px -1640px;
}

.sprite-themiraclemaker {
    width: 214px;
    height: 317px;
    background-position: -453px -1640px;
}

.sprite-theprinceofegypt {
    width: 214px;
    height: 317px;
    background-position: -677px -1640px;
}

.sprite-thesecretofkells {
    width: 214px;
    height: 317px;
    background-position: -901px -1640px;
}

.sprite-thesecretofnimh {
    width: 214px;
    height: 317px;
    background-position: -1125px -1640px;
}

.sprite-thesimpsons {
    width: 214px;
    height: 317px;
    background-position: -1349px -1640px;
}

.sprite-theswordinthestone {
    width: 214px;
    height: 317px;
    background-position: -1573px -1640px;
}

.sprite-thewindrises {
    width: 214px;
    height: 317px;
    background-position: -1797px -1640px;
}

.sprite-tokyogodfathers {
    width: 214px;
    height: 317px;
    background-position: -2021px -1640px;
}

.sprite-toystory1 {
    width: 214px;
    height: 317px;
    background-position: -2245px -5px;
}

.sprite-up {
    width: 214px;
    height: 317px;
    background-position: -2245px -332px;
}

.sprite-valiant {
    width: 214px;
    height: 317px;
    background-position: -2245px -659px;
}

.sprite-valimbashir {
    width: 214px;
    height: 317px;
    background-position: -2245px -986px;
}

.sprite-walle {
    width: 214px;
    height: 317px;
    background-position: -2245px -1313px;
}

.sprite-whenmarniewasthere {
    width: 214px;
    height: 317px;
    background-position: -2245px -1640px;
}

.sprite-wreckitralph {
    width: 214px;
    height: 317px;
    background-position: -5px -1967px;
}

.sprite-zambezia {
    width: 214px;
    height: 317px;
    background-position: -229px -1967px;
}

.sprite-zootopia {
    width: 214px;
    height: 317px;
    background-position: -453px -1967px;
}
