<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <base href="/">

    <title>Wise Advice</title>

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!--******************************
    ********** GOOGLE FONTS **********
    **********************************  --> <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Patua+One' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>


    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="bower_components/angular-busy/dist/angular-busy.css" />
    <link rel="stylesheet" href="bower_components/angular-toastr/dist/angular-toastr.css" />
    <link rel="stylesheet" href="bower_components/textAngular/dist/textAngular.css" />
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
</head>


<body ng-app="myAngularApp" ng-controller="appWrapController">

    <div id="topHeader">
        <div class="navBarBtn blue" id="registerBtn">
            <a data-ng-hide="user.authenticated">Wiseadvice.ro</a>
            <!-- <a ui-sref="login" ng-if="!isAuthenticated()">Login</a>
            <a ng-click="logout()" ng-if="isAuthenticated()">Logout</a>-->
            <!--<a data-ng-show="user.authenticated" href="#" data-ua-logout>Logout</a>-->
        </div>
        <div class="navBarBtn blue" id="mobileMenuBtn">
            <div class="menu-icon">
                <span></span>
            </div>
        </div>
        <!--<div class="navBarBtn blue" id="loginBtn"><a href="#login">Conectare</a></div>-->
    </div>

    <div id="MenuWrapper">
        <div class="hidden-xs" id="searchBar">
            <form action="/search.html">
                <input id="searchField" type="text" placeholder="Caută în meniu..." required="" data-ng-model="justAquery1.searchBy">
                <div type="submit" data-ng-model="searchField"><i style="font-size:2rem;" class="fa fa-search"></i></div>
            </form>
        </div>

        <nav>
            <ul id="homeButton" class="hide">
                <li><a href="" data-ng-click='clickHomeButton($event)'><span class="fa fa-home"></span> <b>Înapoi</b></a></li>
            </ul>
            <div id="menuItems">
                <div>
                    <ul>
                        <li ng-cloak data-ng-repeat="item in menuItems | matchAccessLevel:accessLevel:onlyOneGroup | filter:justAquery1" ng-class="{active: $index == selected}"><span class="over"></span>
                            <a data-lastMenu="{{item.lastMenu}}" ui-sref="{{item.href}}" data-ng-click='clickMenuItem($event)' id="{{item.id}}">
                                <span><i class="{{item.icon}}"></i></span>
                                {{item.name}}
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>


    <div class="sidebar-filler hidden-xs"></div>

    <div id="contentWrapper">
        <div data-ui-view></div>
    </div>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-59636239-1', 'auto');
    ga('send', 'pageview');
    </script>

    <!-- build:js(.) scripts/oldieshim.js -->
    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.js"></script>
    <![endif]-->
    <!-- endbuild -->



    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/json3/lib/json3.min.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-translate/angular-translate.js"></script>
    <script src="bower_components/angular-translate-storage-cookie/angular-translate-storage-cookie.js"></script>
    <script src="bower_components/angular-translate-storage-local/angular-translate-storage-local.js"></script>
    <script src="bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-busy/dist/angular-busy.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="bower_components/satellizer/satellizer.js"></script>
    <script src="bower_components/angular-toastr/dist/angular-toastr.tpls.js"></script>
    <script src="bower_components/rangy/rangy-core.js"></script>
    <script src="bower_components/rangy/rangy-classapplier.js"></script>
    <script src="bower_components/rangy/rangy-highlighter.js"></script>
    <script src="bower_components/rangy/rangy-selectionsaverestore.js"></script>
    <script src="bower_components/rangy/rangy-serializer.js"></script>
    <script src="bower_components/rangy/rangy-textrange.js"></script>
    <script src="bower_components/textAngular/dist/textAngular.js"></script>
    <script src="bower_components/textAngular/dist/textAngular-sanitize.js"></script>
    <script src="bower_components/textAngular/dist/textAngularSetup.js"></script>
    <script src="bower_components/angular-utils-pagination/dirPagination.js"></script>
    <script src="bower_components/angular-acl/angular-acl.js"></script>
    <!-- endbower -->
    <!-- endbuild -->


    <!-- build:js({.tmp,app}) scripts/scripts.js -->

    <!--****************************
    ******** TEMPLATES JS **********
    ******************************** -->
    <!--                            -->         <script src="templates.js"></script>


    <!--****************************
    ******** APP CONFIG ************
    ******************************** -->
    <!--                            -->         <script src="scripts/appConfig.js"></script>


    <!--****************************
    ******** ANGULAR SERVICES ******
    ******************************** -->
    <!--                            -->         <script src="scripts/services/appServices.js"></script>


    <!--****************************
    ******** ANGULAR DIRECTIVES ****
    ******************************** -->
    <!--                            -->         <script src="scripts/directives/loadingDirective.js"></script>


    <!--****************************
    ************ ANGULAR APP *******
    ******************************** -->
    <!--                            -->         <script src="scripts/app.js"></script>


    <!--****************************
    ******** ANGULAR SERVICES ******
    ******************************** -->
    <!-- App Services               -->         <script src="scripts/services/appServices.js"></script>
    <!-- Bancuri Service            -->         <script src="scripts/services/BancuriService.js"></script>
    <!-- Liste Service              -->         <script src="scripts/services/ListeService.js"></script>
    <!-- Gifs Service               -->         <script src="scripts/services/GifsService.js"></script>


    <!--****************************
    ************ CONTROLLERS *******
    ******************************** -->
    <!-- APP Controllers            -->         <script src="scripts/controllers/appControllers.js"></script>
    <!-- SignUp Controller          -->         <script src="scripts/controllers/SignupCtrl.js"></script>
    <!-- Login Controller           -->         <script src="scripts/controllers/LoginCtrl.js"></script>
    <!-- Arta Controller            -->         <script src="scripts/controllers/ArtaCtrl.js"></script>
    <!-- Bancuri Animale Controller -->         <script src="scripts/controllers/BancuriAnimaleCtrl.js"></script>
    <!-- Bancuri Diverse  Controller-->         <script src="scripts/controllers/BancuriDiverseCtrl.js"></script>
    <!-- Carti Controller           -->         <script src="scripts/controllers/CartiCtrl.js"></script>
    <!-- Desene Controller          -->         <script src="scripts/controllers/DeseneCtrl.js"></script>
    <!-- Filme Controller           -->         <script src="scripts/controllers/FilmeCtrl.js"></script>
    <!-- Culmi Controller           -->         <script src="scripts/controllers/CulmiCtrl.js"></script>
    <!-- Ghicitori Controller       -->         <script src="scripts/controllers/GhicitoriCtrl.js"></script>
    <!-- Anunturi Romanesti         -->         <script src="scripts/controllers/AnunturiRomanestiCtrl.js"></script>
    <!-- Gifs Cool Controller       -->         <script src="scripts/controllers/GifsCoolCtrl.js"></script>
    <!-- Gifs Fail Controller       -->         <script src="scripts/controllers/GifsFailCtrl.js"></script>
    <!-- Proverbe Controller        -->         <script src="scripts/controllers/ProverbeCtrl.js"></script>
    <!-- Facts Controller           -->         <script src="scripts/controllers/FactsCtrl.js"></script>
    <!-- Gifs Controller            -->         <script src="scripts/controllers/GifsCtrl.js"></script>


    <!--****************************
    ********* ANGULAR FILTERS ******
    ******************************** -->
    <!-- APP Filters                -->         <script src="scripts/filters/filters.js"></script>

    <!-- endbuild -->



</body>
</html>
