<!--GIFS REACTION-->
<div class="container-fluid gifs" cg-busy="getReactionGifs">
    <div class="row">
        <div class="col-xs-12">
            <p class="white-txt-shadow-effect">Reaction .gifs</p>
        </div>
    </div>
    <hr>
    <br>
    <div class="row">
        <div class="text-center">
            <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" pagination-id="gifs" template-url="bower_components/angular-utils-pagination/dirPagination.tpl.html"></dir-pagination-controls>
        </div>

        <div class="col-md-12 col-lg-12" style="text-align: center;">
        	<div class="col-xs-12 gifRow" dir-paginate="gif in reactionGifs | orderBy: orderList | filter:searchFilter | itemsPerPage: pageSize " pagination-id="gifs" current-page="currentPage" ng-controller="RepeatController">
		        <div class="img-thumbnail">
		        	<h3>{{gif.name}}</h3>
		        	<img src="{{gif.path}}" alt="HTML5 Icon">
		        </div>
            </div>
            <hr>
        </div>

        <div class="text-center">
            <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" pagination-id="gifs" template-url="bower_components/angular-utils-pagination/dirPagination.tpl.html"></dir-pagination-controls>
        </div>
    </div>
</div>
