<!--CARTI INTERESANTE-->
<div class="container-fluid" cg-busy="getCuvinte">
    <div class="row">
        <div class="col-xs-12">
            <p class="white-txt-shadow-effect">Cuvinte</p>
        </div>
    </div>
    <hr>
    <br>
    <div class="row">
        <!-- <div class="col-xs-12 col-md-4 col-md-offset-2">
            <span>
                <label for="name" class='itemsPerPageLabel'>Items per page</label>
                <input min="1" max="100" class="itemsPerPage" ng-model="pageSize" type="number" />
            </span>
        </div> -->
        <div class="col-xs-12 col-lg-10 col-lg-offset-1 col-md-4">
            <span>
                <input ng-model="searchFilter.cuvant" id="search" class="basic-slide" id="name" type="text" placeholder="Ce anume?" />
                <label for="name">Caută</label>
            </span>
        </div>
    </div>
    <br>

    <div class="row">
        <div class="text-center">
            <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" pagination-id="bancuri" template-url="bower_components/angular-utils-pagination/dirPagination.tpl.html"></dir-pagination-controls>
        </div>

        <div class="col-md-12 col-lg-10 col-lg-offset-1">
            <div class="bn-box bn-sepia" dir-paginate="cuvant in cuvinte | filter:searchFilter | itemsPerPage: pageSize " pagination-id="bancuri" current-page="currentPage" ng-controller="RepeatController">
                <div class="bn-box-content" >
                    <!-- <p><strong ng-bind-html="banc.name" ></strong></p> -->
                    <div>
                        <span class="bancNr">{{::number}}</span>
                        <strong><p ng-bind-html="::cuvant.cuvant"></p></strong>
                        <p ng-bind-html="::cuvant.name"></p>
                        <p ng-bind-html="::cuvant.definitie"></p>
                    </div>
                    <hr>
                    <div>
                        <span ng-bind-html="::cuvant.sinonime"></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="text-center">
            <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" pagination-id="bancuri" template-url="bower_components/angular-utils-pagination/dirPagination.tpl.html"></dir-pagination-controls>
        </div>
    </div>

</div>
