<section>

    <div class="col-md-1 socialWrapper">
        <ul class="social-nav model-0">
            <li><a href="https://twitter.com/?lang=ro" target="_blank" class="twitter"><i class="fa fa-twitter"></i></a></li>
            <li><a href="https://www.facebook.com/WiseAdvice-1688454184726123/" target="_blank" class="facebook"> <i class="fa fa-facebook"></i></a></li>
            <li><a href="https://plus.google.com/b/112638182787979109344/+WiseadviceRo/posts" target="_blank" class="google-plus"><i class="fa fa-google-plus"></i></a></li>
            <li><a href="https://www.youtube.com/channel/UCXELk6KFtUoMqyfCKJNcVcg" target="_blank" class="pinterest"><i class="fa fa-youtube"></i></a></li>
        </ul>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 col-lg-offset-2">
        <div class="fb-page" data-href="https://www.facebook.com/WiseAdvice-1688454184726123/" data-tabs="timeline" data-height="450" data-small-header="false" data-adapt-container-width="true" data-hide-cover="true" data-show-facepile="false"></div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
        <a class="twitter-timeline thumbnail" href="https://twitter.com/wiseadvicero" data-widget-id="733641650304626692">Tweets by @wiseadvicero</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div>

</section>
