<section class="demo-container md-whiteframe-z1 show-source" ng-class="{'show-source': demoCtrl.$showSource}">
    <div>
        <md-toolbar class="demo-toolbar">
            <div class="md-toolbar-tools">
                <h3 class="ng-binding">Node Mongo Angular Starter Kit</h3>
            </div>
        </md-toolbar>

      <md-content class="md-padding">
            <div class="col-md-4">
                <a href="#" class="btnSpecial blue" data-toggle="modal" data-target="#createModal" ng-click="clickCreate()">New entry</a>
            </div>
            <div class="col-xs-4">
                <span>
                    <label for="name" class='itemsPerPageLabel'>Items per page</label>
                    <input min="1" max="100" class="itemsPerPage" ng-model="pageSize" type="number" />
                </span>
            </div>
            <div class="col-md-4">
                <span>
                    <input ng-model="q" id="search" class="basic-slide" id="name" type="text" placeholder="What?" />
                    <label for="name">Search</label>
                </span>
            </div>

            <md-tabs md-dynamic-height md-border-bottom md-selected="selectedIndex" class="md-default-theme chenar" style="width: 100%;">
                <md-tab label="EN - ORD">
                    <md-content class="md-padding tabsdemoDynamicHeight">
                        <div class="row">
                            <h1 class="md-display-2">Tab 1</h1>
                            <div class="col-md-12 box effect1" dir-paginate="defEnOrd in en_ord | filter:q | orderBy:'cuvant' |itemsPerPage: pageSize" pagination-id="defEnOrd" current-page="currentPage">
                                <span class='base cuvant'>
                                    <h3>{{defEnOrd.cuvant}}</h3>
                                </span>
                                <div class='base definitie'>{{defEnOrd.definitia}}</div>
                                <div class="base buttons delete" ng-click="clickDelete(defEnOrd, $event)">
                                    <a href="#" class="btnSpecial red"><i class="fa fa-times"></i></a>
                                </div>
                                <div class="base buttons edit" ng-click="clickEdit(defEnOrd, $event)">
                                    <a href="#" class="btnSpecial blue" data-toggle="modal" data-target="#editModal"><i class="fa fa-pencil-square-o"></i></a>
                                </div>
                            </div>
                        </div>

                        <div class="text-center">
                            <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" pagination-id="defEnOrd" template-url="./libs/angular-utils-pagination/dirPagination.tpl.html"></dir-pagination-controls>
                        </div>
                    </md-content>
                </md-tab>

                <md-tab label="ETT - ORD">
                    <md-content class="md-padding">
                        <div class="row">
                            <h1 class="md-display-2">Tab 2</h1>
                            <div class="col-md-12 box effect1" dir-paginate="defEttOrd in ett_ord | filter:q | orderBy:'cuvant' | itemsPerPage: pageSize" pagination-id="defEttOrd" current-page="currentPage">
                                <span class='base cuvant'><h3>{{defEttOrd.cuvant}}</h3></span>
                                <div class='base definitie'>{{defEttOrd.definitia}}</div>
                                <div class="base buttons delete" ng-click="clickDelete(defEttOrd, $event)">
                                    <a href="#" class="btnSpecial red"><i class="fa fa-times"></i></a>
                                </div>
                                <div class="base buttons edit" ng-click="clickEdit(defEttOrd, $event)">
                                    <a href="#" class="btnSpecial blue" data-toggle="modal" data-target="#editModal"><i class="fa fa-pencil-square-o"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="text-center">
                            <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" pagination-id="defEttOrd" template-url="./libs/angular-utils-pagination/dirPagination.tpl.html"></dir-pagination-controls>
                        </div>
                    </md-content>
                </md-tab>

                <md-tab label="VERB">
                    <md-content class="md-padding">
                        <div class="row">
                            <h1 class="md-display-2">Tab 3</h1>
                            <div class="col-md-12 box effect1" dir-paginate="defVerb in verb | filter:q | orderBy:'cuvant' |itemsPerPage: pageSize" pagination-id="defVerb" current-page="currentPage">
                                <span class='base cuvant'><h3>{{defVerb.cuvant}}</h3></span>
                                <div class='base definitie'>{{defVerb.definitia}}</div>
                                <div class="base buttons delete" ng-click="clickDelete(defVerb, $event)">
                                    <a href="#" class="btnSpecial red"><i class="fa fa-times"></i></a>
                                </div>
                                <div class="base buttons edit" ng-click="clickEdit(defVerb, $event)">
                                    <a href="#" class="btnSpecial blue" data-toggle="modal" data-target="#editModal"><i class="fa fa-pencil-square-o"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="text-center">
                            <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" pagination-id="defVerb" template-url="./libs/angular-utils-pagination/dirPagination.tpl.html"></dir-pagination-controls>
                        </div>
                    </md-content>
                </md-tab>

                <md-tab label="VERB - PAST FORM">
                    <md-content class="md-padding">
                        <div class="row">
                            <h1 class="md-display-2">Tab 4</h1>
                            <div class="col-md-12 box effect1" dir-paginate="defVerbPastForm in verb_past_form | filter:q | orderBy:'cuvant' |itemsPerPage: pageSize" pagination-id="defVerbPastForm" current-page="currentPage">
                                <span class='base cuvant'><h3>{{defVerbPastForm.cuvant}}</h3></span>
                                <div class='base definitie'>{{defVerbPastForm.definitia}}</div>
                                <div class="base buttons delete" ng-click="clickDelete(defVerbPastForm, $event)">
                                    <a href="#" class="btnSpecial red"><i class="fa fa-times"></i></a>
                                </div>
                                <div class="base buttons edit" ng-click="clickEdit(defVerbPastForm, $event)">
                                    <a href="#" class="btnSpecial blue" data-toggle="modal" data-target="#editModal"><i class="fa fa-pencil-square-o"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="text-center">
                            <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" pagination-id="defVerbPastForm" template-url="./libs/angular-utils-pagination/dirPagination.tpl.html"></dir-pagination-controls>
                        </div>
                    </md-content>
                </md-tab>

                <md-tab label="RESOR">
                    <md-content class="md-padding">
                        <div class="row">
                            <h1 class="md-display-2">Tab 5</h1>
                            <div class="col-md-12 box effect1" dir-paginate="defResor in resor | filter:q | orderBy:'cuvant' |itemsPerPage: pageSize" pagination-id="defResor" current-page="currentPage">
                                <span class='base cuvant'><h3>{{defResor.cuvant}}</h3></span>
                                <div class='base definitie'>{{defResor.definitia}}</div>
                                <div class="base buttons delete" ng-click="clickDelete(defResor, $event)">
                                    <a href="#" class="btnSpecial red"><i class="fa fa-times"></i></a>
                                </div>
                                <div class="base buttons edit" ng-click="clickEdit(defResor, $event)">
                                    <a href="#" class="btnSpecial blue" data-toggle="modal" data-target="#editModal"><i class="fa fa-pencil-square-o"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="text-center">
                            <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" pagination-id="defResor" template-url="./libs/angular-utils-pagination/dirPagination.tpl.html"></dir-pagination-controls>
                        </div>
                    </md-content>
                </md-tab>

                <md-tab label="Mat">
                    <md-content class="md-padding">
                        <div class="row">
                            <h1 class="md-display-2">Tab 6</h1>
                            <div class="col-md-12 box effect1" dir-paginate="defMat in mat | filter:q | orderBy:'cuvant' |itemsPerPage: pageSize" pagination-id="defMat" current-page="currentPage">
                                <span class='base cuvant'><h3>{{defMat.cuvant}}</h3></span>
                                <div class='base definitie'>{{defMat.definitia}}</div>
                                <div class="base buttons delete" ng-click="clickDelete(defMat, $event)">
                                    <a href="#" class="btnSpecial red"><i class="fa fa-times"></i></a>
                                </div>
                                <div class="base buttons edit" ng-click="clickEdit(defMat, $event)">
                                    <a href="#" class="btnSpecial blue" data-toggle="modal" data-target="#editModal"><i class="fa fa-pencil-square-o"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="text-center">
                            <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" pagination-id="defMat" template-url="./libs/angular-utils-pagination/dirPagination.tpl.html"></dir-pagination-controls>
                        </div>
                    </md-content>
                </md-tab>

                <md-tab label="MEDICIN">
                    <md-content class="md-padding">
                        <div class="row">
                            <h1 class="md-display-2">Tab 7</h1>
                            <div class="col-md-12 box effect1" dir-paginate="defMedicin in medicin | filter:q | orderBy:'cuvant' |itemsPerPage: pageSize" pagination-id="defMedicin" current-page="currentPage">
                                <span class='base cuvant'><h3>{{defMedicin.cuvant}}</h3></span>
                                <div class='base definitie'>{{defMedicin.definitia}}</div>
                                <div class="base buttons delete" ng-click="clickDelete(defMedicin, $event)">
                                    <a href="#" class="btnSpecial red"><i class="fa fa-times"></i></a>
                                </div>
                                <div class="base buttons edit" ng-click="clickEdit(defMedicin, $event)">
                                    <a href="#" class="btnSpecial blue" data-toggle="modal" data-target="#editModal"><i class="fa fa-pencil-square-o"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="text-center">
                            <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" pagination-id="defMedicin" template-url="./libs/angular-utils-pagination/dirPagination.tpl.html"></dir-pagination-controls>
                        </div>
                    </md-content>
                </md-tab>

        </md-tabs>
      </md-content>
    </div>
</section>
<br><br><br><br>


<!-- MODAL FORM FOR CREATING NEW ENTRIES -->
<div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="createModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header create">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="createModalLabel"><b>This form creates a new entry in the database.</b></h4>
            </div>
            <div class="modal-body">
                <form id="myForm">
                    <div class="form-group">
                        <label for="recipient-name" class="control-label">Word:</label>
                        <input type="text" class="form-control" id="recipient-name" autofocus ng-model=cuvant>
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="control-label">Definition:</label>
                        <textarea class="form-control" id="message-text" ng-model=definitia></textarea>
                    </div>
                </form>
                <select ng-options="category as category.name for category in categories" ng-model="category" class="form-control"></select>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" ng-click="formSubmit()" class="btn btn-success">Save</button>
            </div>
        </div>
    </div>
</div>


<!-- MODAL FORM FOR EDITTING NEW ENTRIES -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header edit">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="editModalLabel"><b>This form edit's an existing entry in the database.</b></h4>
            </div>
            <div class="modal-body">
                <form id="myForm">
                    <div class="form-group">
                        <label for="recipient-name" class="control-label">Word:</label>
                        <input type="text" class="form-control" id="recipient-name" autofocus ng-model=cuvant>
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="control-label">Definition:</label>
                        <textarea class="form-control" id="message-text" ng-model=definitia></textarea>
                    </div>
                </form>
                <select ng-options="category as category.name for category in categories" ng-model="category" class="form-control"></select>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" ng-click="formEditSubmit()" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</div>


<!-- MODAL ALERT WHEN DELETING AN ENTRY -->
<div class="modal fade" id="modalAlert" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header error">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Are you sure you want to <b>delete</b> this entry?</h4>
            </div>
            <div class="modal-body">
                <div><span><b>{{entryCuvant}}</b></span>: <span><b>{{entryDefinitie}}</b></span></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                <button type="button" class="btn btn-danger" ng-click='confirmDeletion()'>Yes</button>
            </div>
        </div>
    </div>
</div>
