<div class="signin cf">
    <div class="avatar"></div>
    <div><h3>Sign Up</h3></div>
        <form method="post" ng-submit="signup.signup()" name="signupForm">
            <div class="inputrow">
                <input type="text" name="email" ng-model="signup.user.email" placeholder="Email"/>
                <label for="name" class="ion-person"></label>
            </div>
            <div class="inputrow">
                <input type="password" name="password" ng-model="signup.user.password" placeholder="Password"/>
                <label for="pass" class="ion-locked"></label>
            </div>
            <button type="submit" ng-disabled="signupForm.$invalid" class="btn btn-lg btn-block btn-success">Sign up</button>
            <a ui-sref="login">Login</a>
        </form>
    </div>
</div>